body
	font: 100% Verdana, Arial, Helvetica, sans-serif
	background-color: #666666
	margin: 0
	padding: 0
	text-align: center
	color: #000000
#container 
	width: 1000px
	background-color: #FFFFFF
	margin: 0 auto
	border: 1px solid #000000
	text-align: left
#header
	background-image: "/img/Banner.jpg"
	width: 1000
	height: 201
	background-color: #DDDDDD
	padding: 0 0px 0 0px
#header h1
	margin: 0
	padding: 0px 0
#sidebar1
	float: left
	width: 200px
	background-color: #3F3F3f
	padding: 15px 10px 15px 20px
#mainContent
	margin: 0 0 0 201px
	padding: 0 0px
#footer
	padding: 0 10px 0 20px
	background-color: #3F3F3F
#footer p
	margin: 0
	padding: 10px 0
.fltrt
	float: right
	margin-left: 8px
.fltlft
	float: left
	margin-right: 8px
.clearfloat
	clear: both
	height: 0
	font-size: 1px
	line-height: 0px
a:link
	color: #FFFFFF
	text-decoration: none
#style2
	color: #FFFFFF
#style4
	color: #999999
a:visited
	text-decoration: none
	color: #FFFFFF
a:hover
	text-decoration: underline
a:active
	text-decoration: none